<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div>
          Title: <input ng-model="currentMusicTrack.title">
        </div>
        <div>
          Rating: <input ng-model="currentMusicTrack.rating">
        </div>
        <div>
          Genre: 
          <span ng-repeat="genre in currentMusicTrack.genres">{{genre.name + ' '}}
            <button ng-click="currentMusicTrack.genres.splice($index,1)">&times;</button>
          </span>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Tracks Genres
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li ng-repeat="genre in tracksGenres.trackGenresById"
                  ng-click="currentMusicTrack.genres.push(genre)">
                <a>{{genre.name}}</a>
              </li>
              <a ng-show="!allTracksGenresLoaded" ng-click="getNextTracksGenres()">more</a
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="saveMusicTrack(currentMusicTrack)">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>